.btn {
  background-color: var(--color-primary);
  border-color: var(--color-secondary-dark);
  color: var(--color-secondary-dark);
}

.btn-light {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-secondary-light);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}
